div {
  text-align: center; 
}
.google-logo {
  width: 200px;
  margin-bottom: 5px;
}
.google-search {
  font-size: 15px;
  width: 425px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  border-radius: 20px;
  border: none;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .15);
}
button {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  margin-top: 25px;
  margin-right: 8px;
  cursor: pointer;
}